.day_40_container{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.img_gallery{
    max-width: 22%;
    width: 22%;
    transition: 1s;
}

.active{
    transition: 1s;
    transform: scale(1.5);
}
