:root{
     --pig-color: #f3788d;
}

.day_95_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 194, 108);
}

.pig{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pig_right_ear,
.pig_left_ear{
    width: 110px;
    height: 110px;
    border-radius: 10px;
    border-radius: 25% 25% 25% 0;
    position: absolute;
    background-color: var(--pig-color);
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pig_left_ear_hole,
.pig_right_ear_hole{
    width: 80px;
    height: 80px;
    border-radius: 25% 25% 25% 0;
    position: absolute;
    background-color: #f1b4be;
}

.pig_right_ear{
    transform: rotate(12deg) skewY(-27deg);
    margin-left: 60%;
}

.pig_left_ear{
    transform: rotate(-70deg) skewY(-27deg) scaleX(-1);
    margin-right: 60%;
}

.pig_head{
    width: 300px;
    height: 300px;
    background-color: var(--pig-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pig_left_eye,
.pig_right_eye{
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;

    animation: blink 15s infinite;
}

.pig_left_pupil,
.pig_right_pupil{
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;

    animation: blink 15s infinite;
}

.pig_nose{
    width: 90px;
    height: 80px;
    border-radius: 50%;
    background-color: #f1b4be;
    position: absolute;
    margin-top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pig_nose_left,
.pig_nose_right{
    width: 25px;
    height: 25px;
    background-color: #af3c4f;
    border-radius: 50%;
}

@keyframes blink{
    3%, 23%, 25%, 65%, 67%, 89%, 91%, 100%{
        transform: scaleY(1);
    }
    24%, 66%, 90% {
		transform: scaleY(0);
	}
}