
.container{
    width: 100%;
    height: 100%;
    background-color: rgb(71, 168, 233);
    display: flex;
    justify-content: center;
    align-items: center;
}

.square{
    width: 300px;
    height: 300px;
    border: 1px solid white;
    position: absolute;
}

.square:nth-of-type(1){animation: transform1 3s alternate ease-in-out  infinite;}
.square:nth-of-type(2){animation: transform2 3s alternate ease-in-out  infinite;}
.square:nth-of-type(3){animation: transform3 3s alternate ease-in-out  infinite;}
.square:nth-of-type(4){animation: transform4 3s alternate ease-in-out  infinite;}
.square:nth-of-type(5){animation: transform5 3s alternate ease-in-out  infinite;}
.square:nth-of-type(6){animation: transform6 3s alternate ease-in-out  infinite;}
.square:nth-of-type(7){animation: transform7 3s alternate ease-in-out  infinite;}
.square:nth-of-type(8){animation: transform8 3s alternate ease-in-out  infinite;}
.square:nth-of-type(9){animation: transform9 3s alternate ease-in-out  infinite;}
.square:nth-of-type(10){animation: transform10 3s alternate ease-in-out  infinite;}
.square:nth-of-type(11){animation: transform11 3s alternate ease-in-out  infinite;}
.square:nth-of-type(12){animation: transform12 3s alternate ease-in-out  infinite;}
.square:nth-of-type(13){animation: transform13 3s alternate ease-in-out  infinite;}
.square:nth-of-type(14){animation: transform14 3s alternate ease-in-out  infinite;}
.square:nth-of-type(15){animation: transform15 3s alternate ease-in-out  infinite;}
.square:nth-of-type(16){animation: transform16 3s alternate ease-in-out  infinite;}
.square:nth-of-type(17){animation: transform17 3s alternate ease-in-out  infinite;}
.square:nth-of-type(18){animation: transform18 3s alternate ease-in-out  infinite;}
.square:nth-of-type(19){animation: transform19 3s alternate ease-in-out  infinite;}
.square:nth-of-type(20){animation: transform20 3s alternate ease-in-out  infinite;}

@keyframes transform1{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(360deg);
    }
}

@keyframes transform2{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(380deg);
    }
}

@keyframes transform3{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(400deg);
    }
}

@keyframes transform4{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(420deg);
    }
}

@keyframes transform5{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(440deg);
    }
}

@keyframes transform6{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(460deg);
    }
}

@keyframes transform7{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(480deg);
    }
}

@keyframes transform8{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(500deg);
    }
}

@keyframes transform9{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(520deg);
    }
}

@keyframes transform10{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(570deg);
    }
}

@keyframes transform11{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(560deg);
    }
}

@keyframes transform12{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(580deg);
    }
}

@keyframes transform13{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(600deg);
    }
}

@keyframes transform14{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(620deg);
    }
}

@keyframes transform15{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(640deg);
    }
}

@keyframes transform16{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(660deg);
    }
}

@keyframes transform17{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(680deg);
    }
}

@keyframes transform18{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(700deg);
    }
}

@keyframes transform19{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(720deg);
    }
}

@keyframes transform20{
    to{
        width: 50px;
        height: 300px;
        border-radius: 400px;
        transform: rotate(740deg);
    }
}