*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(44, 212, 212);
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: green;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.class{
    border: 1px solid black;
    stroke-dasharray: 2px;
    stroke-width: 1px;
}