*{
      margin: 0;
      padding: 0;
}
.panel{
      background-color: blanchedalmond;
      height: 40vh;
      width: 100vw;
      display: block;
}

.container{
      border: 2px solid white;
      padding: 5vh;
      border-radius: 100vh;
      width: auto;
}

h1{
      font-size: 3.5vw;
}

.anima{
      display: grid;
      justify-content: center;
      align-items: center;
      height: 100vh;
      color: white;
      background: linear-gradient(45deg, rgb(156, 14, 9), rgb(19, 9, 156));
      background-size: 300% 300%;
      animation-name: gradient;
      animation-direction: alternate;
      animation-duration: 6s;
      animation-iteration-count: infinite; 
      animation-timing-function: ease-in-out;
}

@keyframes gradient{
      from{
            background-position: 0 50%;
      }
      50%{
            background-position: 100% 50%
      }
      to{
            background-position: 50% 0%;
      }
}
