*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(5, 117, 192);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring{
    width: 300px;
    height: 300px;
    border: 1px solid white;
    position: absolute;
    border-radius: 50%;
}

.ring:nth-of-type(1){
    animation: rotate1 5s infinite alternate;
}
.ring:nth-of-type(2){
    animation: rotate2 5s infinite alternate;
}
.ring:nth-of-type(3){
    animation: rotate3 5s infinite alternate;
}
.ring:nth-of-type(4){
    animation: rotate4 5s infinite alternate;
}
.ring:nth-of-type(5){
    animation: rotate5 5s infinite alternate;
}
.ring:nth-of-type(6){
    animation: rotate6 5s infinite alternate;
}
.ring:nth-of-type(7){
    animation: rotate7 5s infinite alternate;
}
.ring:nth-of-type(8){
    animation: rotate8 5s infinite alternate;
}
.ring:nth-of-type(9){
    animation: rotate9 5s infinite alternate;
}
.ring:nth-of-type(10){
    animation: rotate10 5s infinite alternate;
}

@keyframes rotate1{
    0%{transform: rotateX(0) rotateY(0) rotateZ(0);}
    to{transform:  rotateX(360deg) rotateY(360deg) rotateZ(0);}
}

@keyframes rotate2{
    2%{transform: rotateX(0) rotateY(0) rotateZ(0);}
    to{transform:  rotateX(360deg) rotateY(360deg) rotateZ(0);}
}

@keyframes rotate3{
    4%{transform: rotateX(0) rotateY(0) rotateZ(0);}
    to{transform:  rotateX(360deg) rotateY(360deg) rotateZ(0);}
}

@keyframes rotate4{
    6%{transform: rotateX(0) rotateY(0) rotateZ(0);}
    to{transform:  rotateX(360deg) rotateY(360deg) rotateZ(0);}
}

@keyframes rotate5{
    8%{transform: rotateX(0) rotateY(0) rotateZ(0);}
    to{transform:  rotateX(360deg) rotateY(360deg) rotateZ(0);}
}

@keyframes rotate6{
    10%{transform: rotateX(0) rotateY(0) rotateZ(0);}
    to{transform:  rotateX(360deg) rotateY(360deg) rotateZ(0);}
}

@keyframes rotate7{
    12%{transform: rotateX(0) rotateY(0) rotateZ(0);}
    to{transform:  rotateX(360deg) rotateY(360deg) rotateZ(0);}
}

@keyframes rotate8{
    14%{transform: rotateX(0) rotateY(0) rotateZ(0);}
    to{transform:  rotateX(360deg) rotateY(360deg) rotateZ(0);}
}

@keyframes rotate9{
    0%{transform: rotateX(0) rotateY(0) rotateZ(0);}
    to{transform:  rotateX(360deg) rotateY(360deg) rotateZ(0);}
}

@keyframes rotate10{
    0%{transform: rotateX(0) rotateY(0) rotateZ(0);}
    to{transform:  rotateX(360deg) rotateY(360deg) rotateZ(0);}
}