@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(215deg, rgb(1, 241, 169), rgb(3, 93, 167));
}

.upload{
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.upload-header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #727272;
    font-weight: 400;
    border-bottom: 1px solid #c7c7c7;
}

.upload-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.upload-content-button{
    background-color: #3cb604;
    border: none;
    border-radius: 5px;
    padding: 12px 35px 12px 35px;
    box-shadow: 0px 3px #2e8506;
    color: white;
    cursor: pointer;
}

.upload-content-button:hover{
    box-shadow: 4px 4px 4px #b6d6a7;
}

.label{
    padding: 30px;
    outline-width: 1px;
    outline-color: #c7c7c7;
    outline-style: dashed;
}

#input-file{
    display: none;
}

.label{
    display: flex;
    justify-content: center;
    align-items: center;
}