@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    color: white;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar{
    width: 400px;
    height: 400px;
    background-color: #a13838;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s;
    background-color: #E27474;
}

.date:hover{
    transition: .3s;
    transform: scale(.95);
}

.date-day{
    font-size: 20px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.685);
}
.date-number{
    font-size: 80px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.685);
}