@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open sans";
}

:root{
    --component-color: #175cdd;
    --areas-color: #4f86ec;
}

.portifolio{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    'header header'
    'aside main'
    'footer footer';
    background-color: #a5a5e0;
    column-gap: 3%;
}

/************** HEADER ***************/

header{
    grid-area: header;
    background-color: var(--component-color);
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15% 0 15%;
    height: 60px;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

header nav ul li a:hover{
    text-decoration: underline;
}

/************************************/

/************** ASIDE ***************/

aside{
    margin-top: 2%;
    background-color: var(--areas-color);
    grid-area: aside;
    margin-left: 35%;
    border-radius: 25px;
    position: relative;
    padding: 30px;
    overflow: hidden;
}

aside .profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

aside .profile .profile-personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

aside .profile .profile-personal .profile-name{
    font-size: 20px;
    color: rgb(234, 240, 237);
    text-shadow: 1px 1px 10px black;
}

aside .profile .profile-image{
    max-width: 50%;
}

aside .profile ul li{
    list-style: none;
    display: flex;
    gap: 15px;

}

aside .profile ul li a{
    text-decoration: none;
    color: white;
} 

.project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 40px;
    background-color: #1f5dcf;
}

.project:hover{
    background-color: #0942ac;
}

/************************************/
main{
    margin-top: 2%;
    grid-area: main;
    background-color: var(--areas-color);
    margin-right: 15%;
    border-radius: 25px;
}

footer{
    grid-area: footer;
    margin-top: 15px;
}

.archives{
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
}

.archives .explorer{
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 1px 1px 50px black;
    transition: .37s;
}

.archives .explorer .file{
    background-color: gold;
    border-radius: 4px 4px 4px 4px;
    transition: .37s;
}

.archives .explorer .file-span{
    margin-top: -15%;
    width: 10px;
    height: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
    position: absolute;
}

.archives .explorer .file-back{
    width: 45px;
    height: 30px;
    margin-top: -4px;
}

.archives .explorer .file-document{
    position: absolute;
    width: 40px;
    height: 25px;
    margin-top: -2px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px 4px 4px 4px;
    transition: .37s;
}

.archives .file-front{
    margin-top: 5%;
    margin-left: 15%;
    position: absolute;
    width: 45px;
    height: 25px;
    transform: skew(-10deg);
}

.explorer:hover{
    box-shadow: 2px 2px 40px rgb(92, 92, 92);
}

.explorer:hover .file-span{
    transition: .37s;
    transform:  translate(-3px) skew(5deg);
}

.explorer:hover .file-back{
    transition: .37s;
    transform: translate(-2px) skew(5deg);
}

.explorer:hover .file-document{
    transition: .37s;
    transform: translate(0, -5px);
}

.explorer:hover .file-front{
    transition: .37s;
    transform: translate(5px) skew(-20deg);
}


/*************************************  FOOTER *************************************/
#footer{
    grid-area: footer;
    background-color: var(--component-color);
}
.archives{
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
}
.footer-box{
    color: #fff;
}
.footer-iten{
    list-style: none;
    margin-bottom: .80em;
}
.footer-link{
    color: #fff;
    text-decoration: none;
}
.footer-link:hover{
    text-decoration: underline ;
    cursor: alias;
} 