*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body{
      background: cornflowerblue;
      display: flex;
      justify-content: center;
      align-items: center;
}

#pokeball{
      display: flex;
      width: 100vw;
      height: 100vh;
      justify-content: center;
      align-items: center;

      animation-name: roll-pokeball;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;
}

#pokeball-shadow{
      z-index: -1;
      position: absolute;
      border-radius: 500%;
      width: 30vw;
      height: 10vh;
      background-color: rgba(0, 0, 0, 0.308);

      transform: translate(15vw, 20vh) skew(-80deg); 

      animation-name: roll-shadow;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;
}

#pokeball-up, #pokeball-down{
      width: 50vh;
      height: 25vh;
      border: 5px solid black;
      border-radius: 500px 500px 0 0;
}

#pokeball-up{
      background-color: #ff0000;
      box-shadow: inset -10px 14px 1px rgb(255, 63, 63);
}

#pokeball-down{
      background-color: #f8f8f8;
      transform: rotate(180deg);
      box-shadow: inset -10px 14px 1px rgb(207, 207, 207);
}

#pokeball-blank-up, #pokeball-blank-down{
      position: absolute;
      background-color: cornflowerblue;
      width: 15vh;
      height: 15vh;
      border-radius: 100%;
}

#pokeball-blank-up{border-top: 5px solid black;}
#pokeball-blank-down{border-bottom: 5px solid black;}

#pokeball-visor{
      display: none;
      position: absolute;
      background-color: #ffffff;
      width: 15vh;
      height: 15vh;
      border-radius: 100%;
      border: 5px solid black;
      box-shadow: inset -4px 2px 1px rgb(194, 194, 194);

      display: grid;
      justify-content: center;
      align-items: center;
}

#pokeball-visor:hover{
      background-color: rgb(240, 184, 2);
      box-shadow: 15px 0px 45px rgb(240, 184, 2),
                  0px 15px 45px rgb(240, 184, 2),
                  -15px 0px 45px rgb(240, 184, 2),
                  0px -15px 45px rgb(240, 184, 2);
}

#pokeball-visor-line{
      width: 8vh;
      height: 8vh;
      border-radius: 100%;
      border: .3vw solid black;
} 

/**********  ANIMAÇÕES  **********/

.open-up{
      animation-name: open-pokeball-up;
      animation-duration: 0.5s;
      animation-iteration-count: 2;
      animation-direction:alternate;
      animation-timing-function: ease-in-out;
}

.open-down{
      animation-name: open-pokeball-down;
      animation-duration: 0.5s;
      animation-iteration-count: 2;
      animation-direction:alternate;
      animation-timing-function: ease-in-out;
}

@keyframes open-pokeball-up {
      to{transform: translateY(-10vh);}
}

@keyframes open-pokeball-down {
      to{transform: translateY(10vh) rotate(180deg);}
}

@keyframes roll-pokeball{
      from{transform: translate(-15px) rotate(-15deg);}
      to{transform: translate(15px) rotate(15deg);}
}

@keyframes roll-shadow{
      from{
            transform: translate(5vw, 20vh) ;
      }
      to{
            transform: translate(10vw, 20vh) ;
      }
}